@model List<Entities.DTO.PersonelDetailDTO>

<div class="row">
  <div class="col-12 col-sm-6 col-md-2">
    <a href="/insan-kaynaklari/shift1-detay" class="text-dark">
      <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"><i class="fa-solid fa-clock"></i></span>

        <div class="info-box-content">
          <span class="info-box-number">08:00 - 16:00</span>
          <span class="info-box-number">
            @ViewBag.shift1
            <small></small>
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
    </a>

    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-12 col-sm-6 col-md-2">
    <a href="/insan-kaynaklari/shift2-detay" class="text-dark">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-danger elevation-1"><i class="fa-solid fa-clock"></i></span>

        <div class="info-box-content">
          <span class="info-box-number">16:00 - 24:00</span>
          <span class="info-box-number">
            @ViewBag.shift2
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
    </a>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <!-- fix for small devices only -->
  <div class="clearfix hidden-md-up"></div>

  <div class="col-12 col-sm-6 col-md-2">
    <a href="/insan-kaynaklari/shift3-detay" class="text-dark">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"><i class="fa-solid fa-clock"></i></span>

        <div class="info-box-content">
          <span class="info-box-number">00:00 - 08:00</span>
          <span class="info-box-number">
            @ViewBag.shift3
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
    </a>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-12 col-sm-6 col-md-2">
    <a href="/insan-kaynaklari/shift4-detay" class="text-dark">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-primary elevation-1"><i class="fa-solid fa-clock"></i></span>

        <div class="info-box-content">
          <span class="info-box-number">08:00 - 18:00</span>
          <span class="info-box-number">
            @ViewBag.shift4
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
    </a>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-12 col-sm-6 col-md-2">
    <a href="/insan-kaynaklari/shift5-detay" class="text-dark">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-dark elevation-1"><i class="fa-solid fa-clock"></i></span>

        <div class="info-box-content">
          <span class="info-box-number">08:00 - 24:00</span>
          <span class="info-box-number">
            @ViewBag.shift5
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
    </a>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-12 col-sm-6 col-md-2">
    <a href="/insan-kaynaklari/fazla_mesai_detay" class="text-dark">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-warning elevation-1"><i class="fa-solid fa-clock"></i></span>

        <div class="info-box-content">
          <span class="info-box-number">Fazla Mesai</span>
          <span class="info-box-number">
            @ViewBag.fazlaMesai
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
    </a>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
</div>

<!-- /.row -->

<div class="card">
    <div class="card-header">
        <h3 style="font-weight: bold;" class="card-title float-left">Personel Listesi </h3>
        <a href="#" class="btn btn-success float-right"><i class="fa-regular fa-file-lines"></i> Fazla Mesai Listesi</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="ik-table" class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>TC Kimlik</th>
                    <th>Sicil No</th>
                    <th>Personel Ad Soyad</th>
                    <th>Departman</th>
                    <th>Servis</th>
                    <th>Durak</th>
                    <th>Vardiya</th>
                </tr>
            </thead>
            <tbody>

                 @{
                    int count = 1;
                    @foreach (var item in Model)
                    {
                    <tr>
                    <td>@count</td>
                    <td>@item.TCKN</td>
                    <td>@item.RegisterNo</td>
                    <td>@item.Name @item.Surname</td>
                    <td>@item.DepartmanName</td>
                    <td>@item.ServiceName</td>
                    <td>@item.StationName</td>
                    <td>Shift</td>
                    </tr>
                    count++;
                    }
                    } 

                @* @foreach (var item in Model)
                {
                    <tr>
                        <td>#</td>
                        <td>@item.TCKN</td>
                        <td>@item.SicilNo</td>
                        <td>@item.Name @item.Surname</td>
                        <td>@item.DepartmanName</td>
                        <td>@item.ServiceName</td>
                        <td>@item.StationName</td>
                        <td>@item.ShiftName</td>
                    </tr>
                } *@

            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>TC Kimlik</th>
                    <th>Sicil No</th>
                    <th>Departman</th>
                    <th>Personel Ad Soyad</th>
                    <th>Servis</th>
                    <th>Durak</th>
                    <th>Vardiya</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>
