<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="battery_installation" asp-action="index" class="text-dark">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fa-solid fa-car-battery"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Akülü Montaj</span>
                    <span class="info-box-number">@ViewBag.battery_installation</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>

    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="injection" class="text-dark">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fa-solid fa-fill-drip"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Enjeksiyon</span>
                    <span class="info-box-number">@ViewBag.injection</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>

    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="molding_room" class="text-dark">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fa-solid fa-layer-group"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Kalıphane</span>
                    <span class="info-box-number">@ViewBag.molding_room</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>

    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="toy" class="text-dark">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fa-solid fa-puzzle-piece"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Oyuncak Montaj</span>
                    <span class="info-box-number">@ViewBag.toy_assembly</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>

    </div>
    <!-- /.col -->
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="puffing" class="text-dark">
            <div class="info-box">
                <span class="info-box-icon bg-primary elevation-1"><i class="fa-solid fa-cloud-arrow-up"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Şişirme</span>
                    <span class="info-box-number">@ViewBag.puffing</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>

    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="warehouse" class="text-dark">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-dark elevation-1"><i class="fa-solid fa-warehouse"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Sevkiyat Depo</span>
                    <span class="info-box-number">@ViewBag.warehouse</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>

    </div>
    <!-- /.col -->

    <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="furniture" class="text-dark">
            <div class="info-box mb-3">
                <span style="background-color: #C3614C;" class="info-box-icon elevation-1 text-white"><i
                        class="fa-solid fa-couch"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Mobilya</span>
                    <span class="info-box-number">@ViewBag.furniture</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>

    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="maintenance" class="text-dark">
            <div class="info-box mb-3">
                <span style="background-color: #333399;" class="info-box-icon elevation-1 text-white"><i
                        class="fa-solid fa-screwdriver-wrench"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Bakım Onarım</span>
                    <span class="info-box-number">@ViewBag.maintenance</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>

    </div>

</div>
<div class="row">
        <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="accept_goods" class="text-dark">
            <div class="info-box mb-3">
                <span style="background-color: #ff9900;" class="info-box-icon elevation-1 text-white"><i
                        class="fa-solid fa-box-open"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Mal Kabul</span>
                    <span class="info-box-number">@ViewBag.accept</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>

    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="press_shop" class="text-dark">
            <div class="info-box mb-3">
                <span style="background-color: #669999;" class="info-box-icon elevation-1 text-white">
                    <i class="fa-solid fa-gauge-simple-high"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text">Preshane</span>
                    <span class="info-box-number">@ViewBag.press_shop</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>

    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="rotation" class="text-dark">
            <div class="info-box mb-3">
                <span style="background-color: #9933ff;" class="info-box-icon elevation-1 text-white">
                    <i class="fa-solid fa-location-crosshairs"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text">Rotasyon</span>
                    <span class="info-box-number">@ViewBag.rotation</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>

    </div>

    <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="planning" class="text-dark">
            <div class="info-box mb-3">
                <span style="background-color: #cccc00;" class="info-box-icon elevation-1 text-white">
                    <i class="fa-solid fa-play"></i>
                </span>

                <div class="info-box-content">
                    <span class="info-box-text">Planlama</span>
                    <span class="info-box-number">@ViewBag.planning</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>

    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="accept_goods" class="text-dark">
            <div class="info-box mb-3">
                <span style="background-color: #000099;" class="info-box-icon elevation-1 text-white"><i class="fa-solid fa-shield-halved"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Güvenkik</span>
                    <span class="info-box-number">@ViewBag.security</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>
        </div>

         <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="accept_goods" class="text-dark">
            <div class="info-box mb-3">
                <span style="background-color: #00ff00;" class="info-box-icon elevation-1 text-white"><i class="fa-solid fa-circle-half-stroke"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Yarı Mamul</span>
                    <span class="info-box-number">@ViewBag.semi_product</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>
        </div>

         <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="accept_goods" class="text-dark">
            <div class="info-box mb-3">
                <span style="background-color: #00ccff;" class="info-box-icon elevation-1 text-white"><i class="fa-solid fa-check-double"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Kalite Kontrol</span>
                    <span class="info-box-number">@ViewBag.quality</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>
        </div>

         <div class="col-12 col-sm-6 col-md-3">
        <a asp-controller="section" asp-action="accept_goods" class="text-dark">
            <div class="info-box mb-3">
                <span style="background-color: #ff0000;" class="info-box-icon elevation-1 text-white"><i class="fa-solid fa-fire-burner"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Yemekhane</span>
                    <span class="info-box-number">@ViewBag.dining_hall</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </a>
        </div>


</div>